#root {
  --black: #171719;
  --white: #ffffff;
  --red:#e53131;
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 0;
  padding: 0rem;
  text-align: center;
  background-color: var(--black);
}
*{
    margin: 0 0;
    padding: 0rem;
}
/* .brand{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
}
.brand > h1 {
  color: var(--red);
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  font-family: "MuseoModerno", cursive;
}
.brand>img.logo {
  max-width: 100px;
  max-height: 100px;
} */
/* Home */
.homeImage1{
  padding: 10px;
}
.homeSlider1{
  opacity: 0;
  scale: 0;
  /* transform: translateY(70%); */
  transition: opacity 1s ease-in-out,scale 0.8s ease-in-out;
}
.homeSlider1.show{
  /* transform: translateY(0%); */
  scale: 1;
  opacity: 1;
}

.content {
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textCard{
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-family: 'Fira Sans Condensed', sans-serif;
}
.textCard>h2{
  font-size: 4rem;
  font-weight: bold;
}

.textCard>p{
  color: var(--white);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1rem;
}
