.homeImage1{
    padding: 10px;
  }
  .homeSlider1{
    opacity: 0;
    scale: 0;
    transition: opacity 1.5s ease-in-out,scale 1.5s ease-in-out;
  }
  .homeSlider1.show{
    scale: 1;
    opacity: 1;
  }