@font-face {
  font-family: "Ostrich-Sans-Bold";
  src: url("./fonts/OstrichSans-Bold.otf");
}
@font-face {
  font-family: "Ostrich-Sans-Medium";
  src: url("./fonts/OstrichSans-Medium.otf");
}
@font-face {
  font-family: "Ostrich-Sans-Black";
  src: url("./fonts/OstrichSans-Black.otf");
}
/* css variables for theme */
.light {
  --white: #ffffff;
  --black: #000000;
  --text: #000000;
  --text2: #000000;
  --sec-color1: #d22c84;
  --nav-hover: rgb(0, 0, 0);
  --sec-color: rgb(203, 47, 196);
  --login-input-bg: rgb(244, 193, 217);
  --form-label: rgb(208, 195, 195);
  --button-clicked: rgb(170, 41, 164);
  --button-hover: rgb(170, 41, 164);
}
.dark {
  --black: #000000;
  --text: #ffffff;
  --text2: #f9dfdf;
  --sec-color1: #e53131;
  --nav-hover: rgb(249, 92, 92);
  --sec-color: rgb(249, 92, 92);
  --login-input-bg: rgb(54, 22, 22);
  --form-label: rgb(208, 195, 195);
  --button-clicked: #6e0d0d;
  --button-hover: #c42e2e;
}
#root {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 0;
  padding: 0rem;
  text-align: center;
  background-image: url("./assets/light_bg.svg");
  background-size:cover;
  /* background-repeat: no-repeat; */

}

* {
  margin: 0 0;
  padding: 0rem;
}

/* Home */

.whiteHr {
  border-top: 2px solid var(--text2);
  margin: 1px;
}
