.registrationCard {
  background-image: url("../../assets/registration_bg.jpg");
  background-size: cover;
  padding: 2.5vh 0vw 1.5vh 1vw;
  display: flex;
  
}
.registrationForm {
  background: rgba(255, 255, 255, 0.6);
  padding: 10vh 8vw;
  width: 50%;

  border-radius: 11px 11px 11px 11px;
  -webkit-border-radius: 11px 11px 11px 11px;
  -moz-border-radius: 11px 11px 11px 11px;

  text-align: start;
  font-family: "Electrolize", sans-serif;
  font-size: calc(0.7rem + 0.5vw);
  /* display: flex; */
}
.registrationForm>form>button{
    background-color: var(--red);
    border-color: var(--red);
    width: 100%;
}
.registrationForm>form>button:hover{
    background-color: var(--red-white);
    border-color: var(--red);
    color: var(--red);
    /* width: 70%; */
}
.registrationForm input:focus{
    background-color: rgb(54, 22, 22);
    color: var(--red-white);
}

.registrationText{
  width: 50%;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: var(--white);
  font-family: "Ostrich-Sans-Black", "Ostrich-Sans-Medium",
    "Fira Sans Condensed", sans-serif;
  font-size: calc(2rem + 3.5vw);
}
